/*positions in layers*/
.behind-element{
	z-index: -1 !important;
}

.infront-element{
	z-index: 999 !important;
}

/*specific border radius*/
.border-rad-6{
	border-radius: 6px;
}

/*box shadow*/
.box-shadow-gray{
  box-shadow: 10px 12px #888888;
}

.shadow-bottom-right-light-blue{
	box-shadow: 2px 3px #BFD7E2;
}

/*Text Colours*/
.text-gray{
  color: #a5a5a5 !important;
}

.text-light-gray{
  color: #cfd0d7 !important;
}

.text-white{
  color: #fff !important;
}

.text-blue{
	color: #1890ff !important;
}

.text-light-blue{
	color: #BFD7E2 !important;
}

.text-tosca{
	color: #3D84A8;
}

/*Border Colour*/
.border-top-gray{
	border-top: 1px solid #a5a5a5;
}

.border-right-light-blue{
	border-right: 1px solid #DFE0EB;
}

.border-light-blue{
	border: 1px solid #DFE0EB;
}

.border-none, .border-none:hover{
	border: none;
}

/*Background Colours*/
.background-white{
  background-color: #fff;
}

.background-almost-white{
	background-color: #F7F8FC;
}

.background-light-blue{
  background-color: #d5dbff;
}

.background-transparent-blue{
	background-color: rgb(191, 213, 227, 0.5);
}

.background-tosca{
  background-color: #46cdcf;
}

.background-grayish{
	background-color: #363740;
}

/*Element Positions*/
.position-static {
	position: static!important
}

.position-relative {
	position: relative!important
}

.position-absolute {
	position: absolute!important
}

.position-fixed {
	position: fixed!important
}

.position-sticky {
	position: -webkit-sticky!important;
	position: sticky!important
}

/*display*/
.d-flex{
	display: flex;
}

.d-inline-flex{
  display: inline-flex;
}

.d-inline-grid{
	display: inline-grid;
}

.d-none{
	display: none;
}

/*Flex props*/
.align-items-center{
	align-items: center;
}

/*Absolute position*/
.absolute-center-parent{
  position: relative;
}

.absolute-center-child{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.absolute-bottom{
	bottom: 0;
}

/*height*/
.h-auto{
	height: auto;
}

.h-100{
  height: 100%;
}

.min-h-100vh{
  min-height: 100vh;
}

.max-h-100vh{
  max-height: 100vh;
}

.icon{
	height: 16px;
}

.step-icon{
	width: 40px;
}

/*width*/
.width-100{
	width: 100%;
}

.width-80{
	width: 80%
}

.width-70{
	width: 70%;
}

.width-fit{
	width: fit-content;
}

/*Line height*/
.line-height-initial{
	line-height: initial;
}

/*Text Size*/
.text-24{
  font-size: 24px;
}

.text-16{
  font-size: 18px;
}

.text-14{
  font-size: 14px;
}

.text-12{
  font-size: 12px;
}

/*text weight*/
.font-weight-light {
	font-weight: 300!important
}

.font-weight-lighter {
	font-weight: lighter!important
}

.font-weight-normal {
	font-weight: 400!important
}

.font-weight-bold {
	font-weight: 700!important
}

.font-weight-bolder {
	font-weight: bolder!important
}

/*Text Align*/
.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

/*Auth Page*/
.auth-background{
  background-image: url("../img/auth-bg.png");
}

.auth-text-widget-position{
  position: absolute;
  top: 15%;
  right: 2rem;
}

.auth-img-widget-position{
  position: absolute;
  height: 60%;
  top: 27%;
  left: 4em;
}

.auth-terms{
	position: absolute;
	bottom: 14px;
	text-align: center;
	width: 100%;
}

.auth-logo{
	width: 205px;
}

.auth-page button.ant-btn, 
.auth-page input.ant-input, 
.auth-page .ant-input-affix-wrapper{
  height: 100%;
  border-radius: 6px;
  color: #000;
}

.auth-page button.ant-btn:focus{
  color: #000 !important;
}

.auth-page-form div{
	border-radius: 6px;
}

/*Create Feature*/
.temp-fake-preview{
	border: 4px solid #000;
	min-height: 300px;
	text-align: center;
	border-radius: 5px;
	max-width: 420px;
	margin: 0 auto;
}

/*Manage Feature*/
.tag-blue, .tag-red{
	font-size: 10px;
	height: 23px;
	padding: 5px 14px;
	width: fit-content;
	color: #fff;
	border-radius: 11px;
}

.tag-blue{
	background-color: #1BC14A;
}

.tag-red{
	background-color: #AD2A19;
}

/*Setting Feature*/
.tag-orange{
	cursor: pointer;
	background-color: #F4AE6D !important;
	color: #FFF;
	width: 65px;
	padding: 1px 10px;
	font-size: 12px;
	letter-spacing: 0.4px;
	border-radius: 4px;
}

button.tag-orange{
	width: fit-content;
	height: 26px;
	border-radius: 8px;
	padding: 0 5px;
}

/*Manage Feature*/
.download-icon-table{
	cursor: pointer;
	font-size: 40px;
}