/*Responsive*/
@media screen and (max-width: 575px) {
	.display-mobile{
		display: flex;
    align-items: center;
    justify-content: space-around;
	}

	.display-desktop{
		display: none;
	}

	.auth-img-widget-position, .auth-text-widget-position, .auth-credit{
		position: relative;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
	}

	.auth-text-widget-position{
		margin-top: 12px;
		text-align: center;
	}

	.auth-img-widget-position{
		width: 100%;
		max-width: 250px;
		height: initial;
		display: block;
		margin: 0 auto;
	}

	.auth-credit{
		text-align: center;
		margin-top: 24px;
		margin-bottom: 16px;
	}
		
	.ant-typography, 
	.instruction-text,
	.text-sm-center{
		text-align: center;
	}

	button{
		margin: 0 auto !important;
	}

	#createSettingForm label, #settingForm label{
		width: 100%;
	}

	#settingForm input{
		max-width: 100%;
	}
      
	#settingForm .ant-radio-group{
		width: 100%;
		display: flex;
	}

	#settingForm button{
		bottom: 0;
		right: 0;
		display: block;
		position: relative;
		margin: 0 auto !important;
	}

	.settingModal .ant-modal {
		width: 400px !important;
	}
	
	.settingModal .ant-modal-content{
		width: 100%;
		height: 100%;
	}

	.settingModal .ant-modal-body{
		padding-bottom: 0;
	}
	
	.settingModal .ant-modal-footer{
		position: relative;
	}

	.ant-form-item:last-child{
		margin-bottom: 0;
	}
}

@media screen and (min-width: 576px) {
	.display-desktop{
		display: flex;
	}

	.display-mobile{
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.auth-img-widget-position, .auth-text-widget-position, .auth-credit{
		position: relative;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
	}

	.auth-text-widget-position{
		margin-top: 12px;
		text-align: center;
	}

	.auth-img-widget-position{
		width: 100%;
		max-width: 250px;
		height: initial;
		display: block;
		margin: 0 auto;
	}

	.auth-credit{
		text-align: center;
		margin-top: 24px;
		margin-bottom: 16px;
	}
}