/*General Element*/
a{
	color: inherit !important;
}

.ant-alert{
	width: 100%;
}

button:hover{
  color: #000 !important;
}

button.ant-btn-primary{
	color: #fff;
	background-color: #3D84A8;
	border-color: transparent;
	min-width: 85px;
	width: 100%;
	border-radius: 15px;
	font-weight: 500;
	height: 35px;
}

button.ant-btn-primary:hover{
	color: #3D84A8 !important;
	background-color: transparent;
	border: 2px solid #3D84A8;
}

/*Auth Page*/
.auth-page-form .ant-form-item:not(.ant-form-item-has-error) .ant-form-item-control-input{
	border: 1px solid #1976D2;
}

.ant-form-item.border-none .ant-form-item-control-input{
	border: none !important;
}

/*Create Feature Elements*/
button.prev-button{
	min-width: 85px;
	width: 100%;
	border-radius: 15px;
	font-weight: 500;
	height: 35px;
}

button.prev-button:hover{
	color: #40a9ff !important;
}

input, .ant-input-affix-wrapper{
  min-height: 30px !important;
}

.ant-input-affix-wrapper{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}

.ant-input-affix-wrapper > input.ant-input {
  padding:  4px 11px !important;
}

.ant-input-affix-wrapper svg{
  position: absolute;
  bottom: 9px;
  right: 4px;
}

.ant-input-suffix {
  margin-left: 10px;
}

/*drag n drop*/
.ant-upload.ant-upload-drag:hover,
.ant-upload.ant-upload-drag-hover{
	background-color: #bfd5e3;
	border-color: #3D84A8 !important;
}

.ant-upload.ant-upload-drag{
	min-height: 40vh;
	width: initial;
	border: 2px solid #3D84A8;
	border-radius: 6px !important;
}

.ant-upload.ant-upload-drag .ant-upload-btn{
	min-height: 40vh;
	height: 100%;
}

.ant-upload-drag{
	border-radius: 0 !important;
}

.ant-upload-drag > .ant-upload-list-text{
	width: 100%;
	height: 100%;
	position: absolute;
	margin-top: 0 !important;
	z-index: -1;
	top: 0;
}

.ant-upload-drag .ant-upload-list-item{
	margin-top: 0;
	min-height: 40vh;
	height: 100%;
}

.ant-upload-drag .ant-upload-list-item-progress{
	padding-left: 0;
	top: 0;
}

.ant-upload-drag > .ant-upload-list-text .ant-upload-list-item-info{
	display: none;
}

.ant-upload-drag .ant-progress-bg {
	min-height: 40vh;
	height: 100%;
	background-color: rgb(191, 213, 227, 0.5);
	padding-left: 0;
	border-radius: 0 !important;
}

.ant-upload-drag .ant-progress-inner{
	border-radius: 6px;
}

.ant-progress-outer, .ant-progress-inner{
	min-height: 40vh;
	border: 0;
	height: 100% !important;
	padding-left: 0;
}

.ant-progress-inner{
	background-color: transparent;
}

/*steps*/
.ant-steps{
	height: 35px;
	padding-top: 15px;
	padding-bottom: 40px;
}

.ant-steps-item{
	width: 35px;
}

.ant-steps-item-icon{
	margin: 0 !important;
}

.ant-steps-dot .ant-steps-item-tail{
	top: 10px;
	border-radius: 15px;
	left: 11px;
	margin-left: 0;
}

.ant-steps-dot .ant-steps-item-tail:last-child{
	display: none;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-tail::after,
.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-tail::after{
	height: 16px;
	background-color: #bfd5e3;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after{
	height: 16px;
	background-color: #3D84A8;
}

.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot{
	background-color: #bfd5e3;
}

.ant-steps-dot .ant-steps-item-icon .ant-steps-icon-dot{
	height: 35px;
	width: 35px;
	line-height: 20px;
	top: 1px !important;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot,
.ant-steps-item-active .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot{
	background-color: #3D84A8;
}

.ant-steps-dot .ant-steps-item-icon .ant-steps-icon-dot::after, 
.ant-steps-dot.ant-steps-small .ant-steps-item-icon .ant-steps-icon-dot::after{
	position: absolute;
	top: 8px;
	left: 8px;
	width: 20px;
	height: 20px;
	content: '';
	border-radius: 50%;
	border: 2px solid #fff;
}
.ant-steps-item-finish .ant-steps-item-icon .ant-steps-icon-dot::before{
	content: '\2713';
	position: absolute;
	top: 9px;
	left: 12px;
	color: #fff;
}

/*sider element*/
.sider-logo{
	margin: 0 auto;
	display: block;
	width: 144px;
}

/*Create Feature Setting Component*/
#createSettingForm label{
	font-weight: 500;
	width: 100px;
	background-color: #C4C4C4;
	padding: 0 8px;
}

#createSettingForm .ant-form-item-label > label::after{
	display: none;
}

#createSettingForm input.ant-input, #createSettingForm .ant-input-number{
	border-radius: 0;
	border: 2px solid #E5E5E5;
}

/*table in manage*/
.ant-table thead > tr > th{
	color: #9FA2B4;
}

.filter-input.ant-input-affix-wrapper{
	height: 22px;
	min-height: 20px !important;
	max-width: 350px;
	border-radius: 9px;
}

.filter-input svg{
	position: inherit;
	margin-left: 5px;
	opacity: 0.5;
}

.filter-input input.ant-input{
	height: 20px;
	font-size: 12px;
	padding: 4px 0 !important;
	min-height: 18px !important;
}

.error{
	color: #AD2A19;
}

.ant-upload.error {
	border: 2px solid #AD2A19;
}

/*active/hover action*/
.ant-menu-item.active,
.ant-menu-item-active,
.ant-menu-item-selected{
	color: inherit !important;
	border-left: 4px solid #CD93FB;
	border-right: none !important;
	background-color: rgb(205, 147, 251, 0.2) !important;
}

.ant-menu-inline{
	border: none;
}

/*Setting Component*/
#settingForm label{
	font-weight: 500;
	width: 180px;
}

#settingForm .ant-form-item-label > label::after{
	display: none;
}

#settingForm input{
	height: 30px !important;
	border-radius: 6px;
	max-width: 200px;
}

#settingForm button{
	bottom: 65px;
	right: 15px;
	position: absolute;
	width: 90px;
}

#settingPasswordForm label{
	font-weight: 500;
	width: 180px;
}

#settingPasswordForm .ant-form-item-label > label::after{
	display: none;
}

#settingPasswordForm input, #settingPasswordForm .ant-input-affix-wrapper{
	min-height: 20px !important;
}

#settingPasswordForm input{
	height: 24px;
	font-size: 12px;
}

#settingPasswordForm .ant-input-affix-wrapper svg{
	bottom: 5px;
}

/*Modal in setting component*/
.ant-modal-mask{
	background-color: transparent !important;
}

.settingModal .ant-modal {
	width: 400px !important;
}

.settingModal .ant-modal-content{
	width: 400px;
	border: 5px solid #858585;
	height: 400px;
	border-radius: 10px;
}

.settingModal .ant-modal-footer{
	bottom: 0;
	position: absolute;
	right: 0;
}

.ant-radio-inner::after{
	background-color: #585858;
}

.ant-radio{
	border-color: #A3A3A3;
}

/*sider*/
.ant-menu-item{
	line-height: 30px !important;
}

.ant-menu-item-selected{
	color: inherit;
}

.ant-menu-inline .ant-menu-item::after{
	display: none;
}

.ant-typography{
	margin-bottom: 0 !important;
}

